<div>
    <div class="homeHeader">
        <h1>Bloqueados</h1>
    </div>

    <div class="favBloq">
        {{#each posts}}

            <h2>{{dataValues.numero_bloqueados}}</h2>


            <a href="/desbloquear/{{dataValues.idBloqueados}}">
                <button onclick="alert('Contato Desbloqueado')">
                    Desbloquear
                </button>
            </a>

        {{/each}}
    </div>
</div>