<div>
    <div class="homeHeader">
        <h1>Favoritos</h1>
    </div>
    <div class="favBloq">
        {{#each posts}}

            <h2>{{dataValues.numero_favoritos}}</h2>

            <a href="/desfavoritar/{{dataValues.idFavoritos}}">
                <button onclick="alert('Contato Retirado')">
                    Retirar dos Favoritos
                </button>
            </a>

        {{/each}}
    </div>
</div>
