<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<script language="JavaScript" src="app.js"></script>
<body>
<form method="post" action="cadastro.html" onsubmit="return enviarDados();">
    <table>
        <tr>
            <td>Nome:</td>
            <td><input type="text" name="nome" id="nome"></td>
        </tr>
        <tr>
            <td>Numero:</td>
            <td><input type="text" name="numero" id="numero"></td>
        </tr>

        <tr>
            <td><input type="submit" value="Cadastrar Contato"></td>

        </tr>
    </table>
</form>
<script>

    function enviarDados() {
        var nome = document.getElementById("nome").value;
        var Numero = document.getElementById("numero").value;

        if (nome.length == 0)
            alert('Por Favor digite um nome');
        else {
            if (numero.length == 0 )
                alert('Por Favor Digite o Numero');
            else {
                 cadastra(nome,Numero);

            }
        }

    }

</script>
</body>
</html>